fastapi
uvicorn[standard]
motor
redis
pydantic-settings
pydantic[email]
apscheduler
httpx
passlib
bcrypt==3.1.7
python-jose[cryptography]
python-multipart
orjson
aiofiles
pytest
pytest-asyncio
pytest-mock
PyJWT
stripe